/* * {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
  
}

#green {
    background-color: #3B6262;
    color: #3B6262;
}

#nav-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

#nav-wrapper ul {
    list-style: none;
}

#nav-wrapper li {
    display: inline-block;
    line-break: 5.5;
}

header {
    background-color: #3B6262;
    color: #3B6262;
    text-align: center;
    padding: 0px;
    /* letter-spacing: 5px; */
}

.search {
    --padding: 10px;
    margin-top: 5.5px;
    right: 50px;
    top: 10px;
    width: 250px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
}

.search-input {
    font-size: 15px;
    /* font-family: 'Lexend', sans-serif; */
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    /* width: 300px; */
}

.search-button {
    
    padding: 10px 20px; 
    background-color: #3B6262; 
    color: white; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    text-decoration: none; 
    margin-left: 0;
    font-size: 1rem;
    text-align: center;
    transition-duration: 0.4s;
    float: right;
}
.search-button:hover {
    background-color: black; /* Darker Green */
}
nav {
    display: block;
    background-color: #C4D9D9;
    text-align: center;
    text-decoration: none;
    /* padding: 10px; */
    padding: 0%;
    height: 65px;
    

}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    text-align: center;
    margin-top: 5px;
    color: #3B6262; 
    text-decoration: none; 
}

/*ICON*/
.material-symbols-outlined.home-icon {
    transform: translateY(25%);
    margin-left: 10px;
}
.material-symbols-outlined.profile-icon {
    transform: translateY(25%);
    margin-right: 10px;
}
.material-symbols-outlined.search-icon {
    color: #3B6262;
    position: relative;
    left: 20px;
}




/*Category*/
#nav-wrapper ul li label {
    padding: 15px;
    border-radius: 5px;
    background-color: #C4D9D9;
    text-align: center;
    display: inline-block;
    width: 100px;
}
.color-input,
.size-input,
.price-input {
    padding: 15px;
    border-radius: 5px; 
    border: 2px solid #ccc;
    margin-left: 10px;
    display: inline-block;
    width: 400px;
    margin-bottom: 10px;
}
h1 {
    margin-left: 235px;
    padding: 30px;
    font-size: 3rem;
}
/* .box {
    float: left;
    margin-left: 50px;
} */
#nav-wrapper form input[type="reset"] {
    border-radius: 10px; 
    background-color: #d0c6c6;  
    border: none; 
    padding: 10px 20px; 
    cursor: pointer;
    float: right;
    margin-right: 10px;
    font-size: 1rem;
}
#nav-wrapper form input[type="reset"]:hover {
    background-color: #b4adad; 
}
.back-btn {
    padding: 10px 20px; 
    background-color: #3B6262; 
    color: white; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    text-decoration: none; 
    margin-left: 0;
    font-size: 1rem;
    text-align: center;
    float: left;
}
.back-btn:hover {
    background-color: black;
}
/* .add-btn {
    background-color: #3B6262; 
    color: white;
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    cursor: pointer; 
    border-radius: 5px;
    margin-left: 10px;
}

.add-btn:hover {
    background-color: #2a4b4b; 
} */
